<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>145685092238-avv8p8q7bj3gd51c5f2nuh4hg578g6dq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.145685092238-avv8p8q7bj3gd51c5f2nuh4hg578g6dq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>145685092238-f5f0646o4df36o9ptgk11njss7o3nqvp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB9UdXT4PJ0RlgsQh4G9Ccj7keW8jyihTU</string>
	<key>GCM_SENDER_ID</key>
	<string>145685092238</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.appucard</string>
	<key>PROJECT_ID</key>
	<string>appucard-4d609</string>
	<key>STORAGE_BUCKET</key>
	<string>appucard-4d609.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:145685092238:ios:87ffa4b446520e3e4176df</string>
</dict>
</plist>